bootstrap_project_id = "your-bootstrap-project-id"
billing_account      = "000000-000000-000000"

# Set exactly one
org_id    = "123456789012"
# folder_id = "123456789012"

project_id   = "sandragon-awx"
project_name = "sandragon-awx"
region       = "us-central1"
