apiVersion: networking.gke.io/v1
kind: ManagedCertificate
metadata:
  name: awx-managed-cert
  namespace: {{ awx_namespace }}
spec:
  domains:
    - {{ awx_hostname }}
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ awx_name }}-ingress
  namespace: {{ awx_namespace }}
  annotations:
    kubernetes.io/ingress.class: "gce"
    kubernetes.io/ingress.global-static-ip-name: "{{ gke_ingress_static_ip_name }}"
    networking.gke.io/managed-certificates: "awx-managed-cert"
spec:
  rules:
    - host: {{ awx_hostname }}
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: {{ awx_name }}-service
                port:
                  number: 80
